/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
background: #ffffff;
}
.main{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    position: relative;


}
#slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;

}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 48px;
    height:48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
#selector{
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

}
.SelectBtn{
    height: 48px;
    width: 48px;
    
    background-image: url(./bilder/d4cb7f7e4d82bda14a9e1c7e8b4d90b9.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;


}
#SelectValue{
    width: 48px;
    height: 40px;
    position: absolute;
    top: 0;
    background: #00ffaa;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;



}
#SelectValue::after{
    content: '';
    border-top: 17px solid #00ffaa;
    border-left: 24px solid rgb(255, 255, 255); 
    border-right: 24px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -14px;
    left:0;



}
#ProgressBar{
    width: 50%;
    height: 7px;
    background: #00ffaa;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 0;
}
#slider{
    background-color: #333;
}
.btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#button1{
width: 100px;
height: 50px;
border-radius: 5px;
background-color: #00ffaa;
cursor: pointer;
}
#button1:hover{
width: 100px;
height: 50px;
border-radius: 5px;
background-color: #00ffaa75;
}
.button1{
    
}
.vinstbox{
    border: 1px, solid, black;
    width: 100px;
    
}
.förlustbox{
    border: 1px, solid, black;
    width: 100px;
    
}