* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

:root {
    --main-color: #b6b6b6;
    --complementary: #caf2c2;
    --font: #333;
    --buttons: rgb(187, 252, 187);
    --buttons-hover: rgba(187, 252, 187, 0.7);
}

body {

}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: var(--font);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: var(--main-color);
}

.logo {
    cursor: pointer;
    width: 80px;
    margin-left: 15px;
}

nav {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

nav li a:hover {
    color: #bbfcbb;
}

button {
    padding: 9px 25px;
    background-color: var(--buttons);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
}

button:hover {
    background-color: var(--buttons-hover);
}

main {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Staatliches', cursive;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.content a {
    font-size: 60px;
    font-weight: 100;
    color: #333;
    display: inline-block;
    background: var(--buttons);
    border-radius: 6px;
    padding: 10px 50px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0, 0.15);
}

.content a:hover {
    background: var(--buttons-hover);
}

.content1 {
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.content1 a {
    font-size: 30px;
    font-weight: 50;
    color: #333;
    display: inline-block;
    background: var(--buttons);
    border-radius: 6px;
    padding: 10px 50px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0, 0.15);
}

.content1 a:hover {
    background: var(--buttons-hover);
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--main-color);
    text-align: center;
}

.box h1 {
    color: var(--font);
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--font);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: var(--font);
    border-radius: 24px;
    transition: 0.25s;
    
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus {
    width: 220px;
    border-color: var(--complementary);
}

.box button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--complementary);
    padding: 14px 40px;
    outline: none;
    color: var(--font);
    border-radius: 24px;
    transition: 0.25s;
    
}

.box button:hover {
    background: var(--complementary);
}